<!--右侧内容-->
<div class="main-layout-container">
	<div class="main-layout-header">
		<div class="menu-btn" id="hideBtn">
			<a href="javascript:;">
				<span class="iconfont">&#xe60e;</span>
			</a>
		</div>
		<ul class="layui-nav" lay-filter="rightNav">
			<!--<li class="layui-nav-item"><a href="javascript:;" data-url="email.html" data-id='4' data-text="邮件系统"><i class="iconfont">&#xe603;</i></a></li>-->
			<li class="layui-nav-item">
				<a href="javascript:;" data-text="个人信息">{{userName}}</a>
				<!--<dl class="layui-nav-child">-->
					<!--<dd><a  ng-click="changePsw()">修改密码</a></dd>-->
				<!--</dl>-->
			</li>
			<li class="layui-nav-item"><a ng-click="changePsw()">修改密码</a></li>
			<li class="layui-nav-item"><a ng-click="logout()">退出</a></li>
		</ul>
	</div>
	<!--主体内容-->
	<!--angularjs 一级路由-->
	<div class="main-layout-body">
		<div ui-view></div>
	</div>
</div>

<!--修改密码页面-->
<form class="layui-form" id="pwd-form" ng-submit="confirm()" style="padding: 20px 30px 0 0;display: none">
	<div class="layui-form-item">
		<label class="layui-form-label">原密码</label>
		<div class="layui-input-inline">
			<input type="password" name="opassword"  lay-verify="required|password" class="layui-input" data-ng-model="list.opassword">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">新密码</label>
		<div class="layui-input-inline">
			<input type="password" name="npassword" lay-verify="required|password" class="layui-input" data-ng-model="list.npassword">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">确认新密码</label>
		<div class="layui-input-inline">
			<input type="password" id="newPassword" name="newPassword"  lay-verify="required|password" class="layui-input" data-ng-model="list.newPassword">
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit lay-filter="modifyPwd">确认提交</button>
		</div>
	</div>
</form>
<script>
    $('#hideBtn').on('click', function() {
        if(!$('#main-layout').hasClass('hide-side')) {
            $('#main-layout').addClass('hide-side');
        } else {
            $('#main-layout').removeClass('hide-side');
        }
    });
</script>