<head>
    <link rel="stylesheet" href="lib/global/css/bootstrap.min.css" type="text/css" />
</head>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <!--search-->
                <div class="layui-form layui-card-header" style="padding:15px 0;height: auto;margin-left: 15px">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <input type="text" class="layui-input" placeholder="用户名" ng-model="searchEntity.uname">
                        </div>
                        <div class="layui-inline">
                            <input type="text" class='layui-input' placeholder="姓名" ng-model="searchEntity.nickname">
                        </div>
                        <!--<div class="layui-inline">-->
                            <!--<label class="layui-form-label">订单状态</label>-->
                            <!--<div class="layui-input-block">-->
                                <!--<select lay-ignore ng-model="orderSearchEntity.state" ui-select2="selectOptions" class="form-control" style="width: 200px">-->
                                    <!--<option  data-ng-repeat="item in orderState" value="{{item.value}}">{{item.text}}</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="layui-inline">-->
                            <!--<label class="layui-form-label">开始时间</label>-->
                            <!--<div class="layui-input-block">-->
                                <!--<input type="text" class="layui-input" data-ng-model="start" id="start"  laydate laydate-type="datetime">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="layui-inline">-->
                            <!--<label class="layui-form-label">结束时间</label>-->
                            <!--<div class="layui-input-block">-->
                                <!--<input type="text" class="layui-input" data-ng-model="end" id="end"  laydate laydate-type="datetime">-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="layui-inline">
                            <button class="layui-btn" ng-click="search()"><i class="layui-icon layui-icon-search"></i></button>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn" ng-click="refresh()"><i class="layui-icon layui-icon-refresh"></i></button>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn layui-btn-small layui-btn-normal" data-type="add" data-ng-click="add()">添加</button>
                        </div>
                    </div>
                </div>
                <div class="layui-card-body">
                    <table class="layui-table" lay-skin="line">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>用户名</th>
                            <th>姓名</th>
                            <th>手机</th>
                            <th>短号</th>
                            <th>辖区</th>
                            <th>使用单位</th>
                            <th>维保单位</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in list">
                            <td>{{item.id}}</td>
                            <td>{{item.uname}}</td>
                            <td>{{item.nickname}}</td>
                            <td>{{item.mobile}}</td>
                            <td>{{item.cornette}}</td>
                            <td>{{item.regionName}}</td>
                            <td>{{item.ctype=='USE'?item.cname:"" }}</td>
                            <td>{{item.ctype=='REPAIR'?item.cname:"" }}</td>
                            <td>
                                <a class="layui-btn layui-btn-normal layui-btn-xs" data-ng-click="auth(item)">
                                    <i class="layui-icon layui-icon-edit"></i>角色授权</a>
                                <a class="layui-btn layui-btn-normal layui-btn-xs" data-ng-click="allocation(item)">
                                    <i class="layui-icon layui-icon-edit"></i>分配辖区或单位</a>
                                <a class="layui-btn layui-btn-normal layui-btn-xs" data-ng-click="edit(item)">
                                    <i class="layui-icon layui-icon-edit"></i>编辑</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div id="page"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--新增用户页面-->
<form class="layui-form" id="user" ng-submit="submit()" style="padding: 20px 30px 0 0;display: none">
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline">
            <input type="text"  lay-verify="required" class="layui-input" data-ng-model="user.uname">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-inline">
            <input type="text"  lay-verify="required" class="layui-input" data-ng-model="user.nickname">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input type="password"  lay-verify="required" class="layui-input" data-ng-model="user.password">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-inline">
            <input type="text"  lay-verify="required|phone" class="layui-input" data-ng-model="user.mobile">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">短号</label>
        <div class="layui-input-inline">
            <input type="text"  class="layui-input" data-ng-model="user.cornette">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit>确认提交</button>
        </div>
    </div>
</form>

<!--编辑用户页面-->
<form class="layui-form" id="userModify" ng-submit="submit()" style="padding: 20px 30px 0 0;display: none">
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-inline">
            <input type="text"  lay-verify="required" class="layui-input" data-ng-model="user.nickname">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-inline">
            <input type="text"  lay-verify="required|phone" class="layui-input" data-ng-model="user.mobile">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">短号</label>
        <div class="layui-input-inline">
            <input type="text"  class="layui-input" data-ng-model="user.cornette">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit>确认提交</button>
        </div>
    </div>
</form>

<!--角色授权页面-->
<div id="auth" style="padding: 20px 30px 0 0;display: none;margin-left: 20px">
    <div class="row">
        <div class="col-xs-5">
            <select name="from[]" id="multiselect1"  class="form-control" size="8" multiple="multiple">
                <option  ng-repeat="item in leftList" value="{{item.id}}">{{item.name}}</option>
            </select>
        </div>
        <div class="col-xs-2">
            <button type="button" id="multiselect1_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
            <button type="button" id="multiselect1_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
            <button type="button" id="multiselect1_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
            <button type="button" id="multiselect1_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
        </div>
        <div class="col-xs-5">
            <select name="to[]" id="multiselect1_to" class="form-control" size="8" multiple="multiple">
                <option  ng-repeat="item in rightList" value="{{item.id}}">{{item.name}}</option>
            </select>
        </div>
    </div>
</div>

<!--客户端角色分配-->
<form class="layui-form" id="allocation" ng-submit="allocationSubmit()" style="padding: 20px 30px 0 0;display: none">
    <div class="layui-form-item">
        <label class="layui-form-label">类型</label>
        <div class="layui-input-block">
            <select name="" id="type" required lay-filter="type">
                <option value=""></option>
                <option value="region">辖区</option>
                <option value="use">使用单位</option>
                <option value="repair">维保单位</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item" id="region" style="display: none">
        <label class="layui-form-label">辖区</label>
        <div class="layui-input-block">
            <select name="" lay-search  id="region_" size="10">
                <option  value=""></option>
                <option data-ng-repeat="item in regions" value="{{item.id}}">{{item.name}}</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item" id="use" style="display: none">
        <label class="layui-form-label">使用单位</label>
        <div class="layui-input-block">
        <select name="" lay-search id="useCompany" size="10">
            <option data-ng-repeat="item in useCompanies" value="{{item.id}}">{{item.name}}</option>
        </select>
        </div>
    </div>
    <div class="layui-form-item" id="repair" style="display: none">
        <label class="layui-form-label">维保单位</label>
        <div class="layui-input-block">
        <select name="" lay-search id="repairCompany" size="10">
            <option data-ng-repeat="item in repairCompanies" value="{{item.id}}">{{item.name}}</option>
        </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block" style="text-align: right;padding-top: 20px">
            <button class="layui-btn" lay-submit>确认提交</button>
        </div>
    </div>
</form>