<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <!--search-->
                <div class="layui-form layui-card-header" style="padding:15px 0;height: auto;margin-left: 10px">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <input type="text" class='layui-input' placeholder="使用单位" ng-model="searchEntity.cname">
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn" ng-click="search()"><i class="layui-icon layui-icon-search"></i></button>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn" ng-click="refresh()"><i class="layui-icon layui-icon-refresh"></i></button>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn layui-btn-small layui-btn-normal" data-type="add" data-ng-click="send()">发送监察指令书</button>
                        </div>
                    </div>
                </div>
                <div class="layui-card-body">
                    <table class="layui-table" lay-skin="line">
                        <thead>
                        <tr>
                            <th>使用单位</th>
                            <th>发起时间</th>
                            <th>整改期限</th>
                            <th>存在问题</th>
                            <th>整改措施</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in list">
                            <td>{{item.cname}}</td>
                            <td>{{item.created | timeFilter}}</td>
                            <td>{{item.closingTime | timeFilter}}</td>
                            <td>{{item.problem | subString:20}}</td>
                            <td>{{item.measure | subString:20}}</td>
                            <td>
                                <a class="layui-btn layui-btn-normal layui-btn-xs" data-ng-click="detail(item)">查看详情</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div id="page"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--发送监察指令书-->
<form class="layui-form" id="notice" ng-submit="sendSubmit()" style="padding: 20px 30px 0 0;display: none">
    <div class="layui-form-item">
        <label class="layui-form-label">使用单位</label>
        <div class="layui-input-block">
            <select  lay-verify="required" lay-search id="cid">
                <option data-ng-repeat="item in useCompanies" value="{{item.id}}">{{item.name}}</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">存在问题</label>
        <div class="layui-input-block">
            <textarea  lay-verify="required" class="layui-textarea" data-ng-model="notice.problem" id="problem"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">整改措施</label>
        <div class="layui-input-block">
            <textarea  lay-verify="required" class="layui-textarea" data-ng-model="notice.measure" id="measure"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">整改截止日期</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" lay-verify="required" id="closingTime" data-ng-model="notice.closingTime" laydate laydate-type="datetime">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <a class="layui-btn layui-btn-small layui-btn-normal" data-ng-click="lookLaw()">查看法律法规</a>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">违法规定</label>
        <div class="layui-input-block">
            <textarea  lay-verify="required" class="layui-textarea" data-ng-model="notice.deregulation" id="deregulation"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">处理依据</label>
        <div class="layui-input-block">
            <textarea  lay-verify="required" class="layui-textarea" data-ng-model="notice.processBasis" id="processBasis"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">亮灯状态</label>
        <div class="layui-input-block">
            <select lay-verify="required" id="warnLevel">
                <option value=""></option>
                <option  value="RED">红灯</option>
                <option  value="BLUE">蓝灯</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">短信提醒</label>
        <div class="layui-input-block">
            <input type="checkbox" name="smsSend" id="smsSend" lay-skin="switch" lay-text="开启|关闭" lay-filter="smsSend">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block" style="  padding-top: 20px">
            <button class="layui-btn" lay-submit>确认提交</button>
        </div>
    </div>
</form>

<!--法律法规列表-->
<div class="layui-fluid" id="law" style="display: none">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <!--search-->
                <div class="layui-form layui-card-header" style="padding:15px 0;height: auto;margin-left: 15px">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <input type="text" class='layui-input' placeholder="关键字" ng-model="searchEntity2.content">
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn" ng-click="lawSearch()"><i class="layui-icon layui-icon-search"></i></button>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn" ng-click="lawRefresh()"><i class="layui-icon layui-icon-refresh"></i></button>
                        </div>
                    </div>
                </div>
                <div class="layui-card-body">
                    <table class="layui-table" lay-skin="line">
                        <thead>
                        <tr>
                            <th>标题</th>
                            <th>内容</th>
                            <th>所属类型</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in lawList">
                            <td>{{item.title}}</td>
                            <td>{{item.content | subString:10}}</td>
                            <td>{{item.categoryName}}</td>
                            <td>
                                <a class="layui-btn layui-btn-normal layui-btn-xs" data-ng-click="lawDetail(item)">
                                    <i class="layui-icon layui-icon-edit"></i>查看</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div id="lawPage"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--法律详情-->
<form class="layui-form" id="lawDetail" style="padding: 20px 30px 0 0;display: none">
    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" id="title" readonly>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">所属类型</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" id="categoryName" readonly>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">内容</label>
        <div class="layui-input-block">
            <textarea rows="15" readonly class="layui-textarea" id="content"></textarea>
        </div>
    </div>
</form>


<!--监察指令详情-->
<div class="layui-form" id="detail"  style="padding: 20px 30px 0 0;display: none">
    <div class="layui-form-item">
        <label class="layui-form-label">使用单位</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input"  readonly data-ng-model="noticeDetail.cname">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">存在问题</label>
        <div class="layui-input-block">
            <textarea  lay-verify="required" class="layui-textarea" readonly data-ng-model="noticeDetail.problem"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">整改措施</label>
        <div class="layui-input-block">
            <textarea  lay-verify="required" class="layui-textarea" readonly data-ng-model="noticeDetail.measure"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">整改截止日期</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" readonly data-ng-model="noticeDetail.closingTime">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">违法规定</label>
        <div class="layui-input-block">
            <textarea  class="layui-textarea" readonly data-ng-model="noticeDetail.deregulation"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">处理依据</label>
        <div class="layui-input-block">
            <textarea  class="layui-textarea" readonly data-ng-model="noticeDetail.processBasis"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">亮灯状态</label>
        <div class="layui-input-block">
            <select id="warnLevel_" disabled>
                <option value=""></option>
                <option  value="RED">红灯</option>
                <option  value="BLUE">蓝灯</option>
            </select>
        </div>
    </div>
</div>
